/* Custom style */

p {
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Merriweather Sans", sans-serif;
}

.font-small {
    font-size: 0.8rem;
}

.teal {
    background-color: #1de9b6;
    margin-left: 0;
    margin-right: auto;
}

/* Homepage */
#home-hero {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/public/images/home-hero-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
}